@page

<div class="text-center">
    <h2>Dziękujemy!</h2>
    <p>Dziękujemy za złożenie zamówienia #@OrderId</p>
    <p>Wyślemy je jak najszybiej to możliwe</p>
    <a class="btn btn-primary" asp-controller="Home">Powrót</a>
</div>

@functions {

    [BindProperty(SupportsGet = true)]
    public string OrderId { get; set; }
}